name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    env:
      SiteTestes: https://www.uol.com.br

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101

    - name: Docker Setup Buildx
      # You may pin to the exact commit or the version.
      # uses: docker/setup-buildx-action@154c24e1f33dbb5865a021c99f1318cfebf27b32
      uses: docker/setup-buildx-action@v1.1.1
      id: buildx

    - name: Cache
      uses: actions/cache@v2.1.3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Criar container Selenium
      run: docker run --name selenium-standalone-firefox -d -p 4444:4444 --shm-size 2g selenium/standalone-firefox:4.0.0-beta-1-prerelease-20210106

    - name: Executar teste com Selenium
      run: |
        cd ./TesteSelenium
        dotnet run
