name: Testes com .NET + Selenium + Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    env:
      SiteTestes: https://www.microsoft.com
      IMAGEM_SELENIUM: selenium/standalone-firefox:4.0.0-beta-1-prerelease-20210114

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101

    - name: Cache imagem Selenium
      uses: actions/cache@v2.1.3
      env:
        cache-name: cache-selenium-standalone
      with:
        path: ./selenium-standalone.tar
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ env.IMAGEM_SELENIUM }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
          
    - name: Criar container Selenium
        # docker run --name selenium-standalone -d -p 4444:4444 --shm-size 2g selenium/standalone-firefox:4.0.0-beta-1-prerelease-20210106
        # test ! -f selenium-standalone.tar && docker save --output selenium-standalone.tar selenium/standalone-firefox:4.0.0-beta-1-prerelease-20210106
      run: |
        ls
        docker load --input selenium-standalone.tar || true
        docker run --name selenium-standalone -d -p 4444:4444 --shm-size 2g ${{ env.IMAGEM_SELENIUM }}
        docker ps
        docker images
        test ! -f selenium-standalone.tar && docker save --output selenium-standalone.tar ${{ env.IMAGEM_SELENIUM }}
        ls 

    - name: Executar teste com Selenium
      run: |
        cd ./TesteSelenium
        dotnet run "firefox"
