name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    env:
      SiteTestes: https://www.uol.com.br

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101

    - name: Criar container Selenium
      run: |
        docker load --input selenium-standalone-firefox.tar || true
        docker run --name selenium-standalone-firefox -d -p 4444:4444 --shm-size 2g selenium/standalone-firefox:4.0.0-beta-1-prerelease-20210106
        test ! -f selenium-standalone-firefox.tar && docker save --output selenium-standalone-firefox.tar selenium/standalone-firefox:4.0.0-beta-1-prerelease-20210106
        ls 

    - name: Executar teste com Selenium
      run: |
        cd ./TesteSelenium
        dotnet run
